<div class="well well-lg">
  <%= form_for @workshop, :html => {:multipart => true} do |f| %>
    <% if @workshop.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <ul>
        <% @workshop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p>
      <%= f.label :title %><br />
      Please list the first part of the title (preceding any colon), seperated for use in the sidebar <br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :subtitle %><br />
      Please list the second part of the title for use in th the full workshop listing <br />
      <%= f.text_field :subtitle %>
    </p>
    <p>
      <%= f.label :schedule %><br />
      Please list meeting time and place here in the form "HH:MM a.m./p.m.; Building, Room" <br />
      <%= f.text_field :schedule %>
    </p>
    <p>
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </p>
    <p>
      <%= f.label :blurb %><br />
      <%= f.text_field :blurb %>
    </p>
    <hr />
    <p><%= f.submit %></p>
  <% end %>
</div>
