<div class="well well-lg">
  <%= form_for @workshop, :html => {:multipart => true} do |f| %>
    <% if @workshop.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <ul>
        <% @workshop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </p>
    <p>
      <%= f.label :blurb %><br />
      <%= f.text_field :blurb %>
    </p>
    <hr />
    <p><%= f.submit %></p>
  <% end %>
</div>
