<%#<div class="galleryItem">%>
  <%#<%= image_tag art.image_url(:thumb).to_s ><br />%>
  <%#<h3><%= art.title ></h3>%>
  <%#<p class="grayed"><%= art.artist ></p>%>
<%#</div>%>

<a href="<%= art.image_url %>" title='"<%= art.title %>" by <%= art.artist %>' data-gallery>
  <img src="<%= art.image_url(:thumb) %>" style="margin-bottom: 5px;">
</a>
